.banner
	background-color: #e8d5c7
	color: $white
	position: relative
	z-index: 1
	min-height: 700px
	height: 100vh
	padding-top: 10%
	padding-bottom: 5%
	+media-breakpoint-down(md)
		margin-top: 82px
		padding-bottom: 0
		height: auto
	+media-breakpoint-down(sm)
		margin-top: 75px
		.container
			max-width: 95%
			+media-breakpoint-down(xs)
				max-width: 100%
	&:before
		background-color: rgba($black, .7)
		bottom: 0
		content: ''
		display: block
		left: 0
		position: absolute
		right: 0
		top: 0
		z-index: -1
	.caption
		flex-direction: column
		+media-breakpoint-down(md)
			justify-content: flex-start
	&__subtitle
		padding: 0
		margin: 0
		list-style-type: none
		opacity: 0
		animation-delay: .5s
		+media-breakpoint-down(sm)
			flex-wrap: wrap
			justify-content: center
		li
			padding-right: 20px
			position: relative
			text-transform: uppercase
			font-size: 12px
			letter-spacing: 1.8px
			+media-breakpoint-down(md)
				font-size: 10px
				letter-spacing: 1px
			+media-breakpoint-down(sm)
				padding-right: 0
				margin: 0 10px 4px
			&:last-child()
				padding-right: 0
				&:after
					display: none
			&:after
				content: '\2022'
				display: block
				position: absolute
				right: 4px
				top: -8.5px
				font-size: 24px
				color: $red
				+media-breakpoint-down(md)
					top: -11px
				+media-breakpoint-down(sm)
					display: none
	h4
		color: $white
		font-weight: bold
		font-size: 20px
		margin-bottom: 0px
	&__block
		margin-top: 50px
		width: 100%
		+media-breakpoint-down(md)
			flex-direction: column
		+media-breakpoint-down(sm)
			margin-top: 30px
	&__discount
		// width: 60%
		&-list
			padding: 0
			list-style-type: none
			opacity: 0
			animation-delay: .6s
			li
				padding-left: 45px
				background-image: url(../img/tick.png)
				background-repeat: no-repeat
				background-position: 0 center
				margin-bottom: 25px
				h4
					+media-breakpoint-down(sm)
						font-size: 18px
				span
					font-size: 16px
					opacity: .9
	&__form
		max-width: 400px
		width: 100%
		padding: 30px 20px
		background-color: $white
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.4)
		opacity: 0
		animation-delay: .7s
		+media-breakpoint-down(md)
			margin-bottom: -30px
		h4
			color: $title
			text-transform: uppercase
			text-align: center
			font-size: 24px
			margin-bottom: 20px
		input
			width: 100%
			margin-bottom: 20px

h1
	font-size: 50px
	margin: 0
	line-height: 1.4
	opacity: 0
	+media-breakpoint-down(md)
		font-size: 42px
	+media-breakpoint-down(sm)
		font-size: 34px
		text-align: center
	+media-breakpoint-down(xs)
		font-size: 25px
		margin-bottom: 15px
	sup
		font-size: 0.7em

.scrollto--arrow
	position: absolute
	left: 50%
	bottom: 20px
	transform: translateX(-50%)
	opacity: 0
	+media-breakpoint-down(sm)
		display: none
	img 
		animation: arrowbounce 1s alternate infinite


@keyframes arrowbounce 
	from
		transform: translateY(0)
	to
		transform: translateY(-20px)
    




.parallax 
	position: relative
	background-attachment: fixed
	background-position: center 0
	background-repeat: no-repeat
	background-size: cover
	// height: 100%
	// +media-breakpoint-down(md)
	// 	background-attachment: scroll

.caption
	display: flex
	justify-content: center
	align-items: center
	height: 100%