.services
	background-size: cover
	background-repeat: no-repeat
	background-position: center top 130px
	min-height: 550px
	z-index: 1
	svg
		position: absolute
		top: 130px
		left: 0
		width: 100%
		height: 100%
		z-index: -1

